@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes opacityin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.detail-all-container {
  background-color: #212121;
  overflow: hidden;
  padding-top: 10px;
  margin-top: 58px;
}

@media (max-width: 1050px) {
  .detail-all-container {
    padding: 20px 0;
  }
}

.back-button {
  text-decoration: none;
  align-items: center;
  padding: 8px;
  color: #fafafa;
  border-radius: 10px;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: 1px solid #fafafa;
  margin-left: 30px;
  margin-top: 30px;
}

@media (max-width: 1050px) {
  .back-button {
    display: none;
  }
}

.back-button:hover {
  border: 1px solid #d3448b;
}

.detail-card-container {
  padding: 30px 10px;
  color: #fafafa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  animation-name: slidein;
  animation-duration: 1.5s;
}

@media (max-width: 1050px) {
  .detail-card-container {
    flex-direction: column;
    animation-name: slidein;
    animation-duration: 1.5s;
    justify-content: center;
    align-items: center;
  }
}

.nft-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-left: 20px;
}

@media (max-width: 1050px) {
  .nft-data-container {
    align-items: center;
    margin: 0;
  }
}

.nft-img {
  border-radius: 10px;
  height: 70vh;
  width: 70vh;
  margin-bottom: 20px;
  animation-name: opacityin;
  animation-duration: 3s;
  margin-left: 30px;
}

@media (max-width: 1050px) {
  .nft-img {
    height: 50vh;
    width: 50vh;
    margin: 0;
    border-radius: 40px;
  }
}

.source-icon {
  height: 25px;
}

.price-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

@media (max-width: 1050px) {
  .price-container {
    margin: 0;
    width: 100%;
    justify-content: space-evenly;
  }
}

.available {
  background-color: #d3448b;
  width: fit-content;
  padding: 7px;
  border-radius: 15px;
}

.unavailable {
  background-color: red;
  color: black;
  width: fit-content;
  padding: 7px;
  border-radius: 15px;
}

.detail-span {
  color: #bdbdbd;
}

.ethereum-container {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

@media (max-width: 1050px) {
  .ethereum-container {
    margin: 15px 0;
  }
}

.ethereum-logo-price {
  height: 35px;
  margin-left: -10px;
}

.flex-row3 {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 1050px) {
  .flex-row3 {
    width: 100%;
    justify-content: space-evenly;
  }
}

.flex-row3 * {
  margin-right: 60px;
}

@media (max-width: 1050px) {
  .flex-row3 * {
    margin: 0;
  }
}

.data-detail-nft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: left;
  margin-bottom: 40px;
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;
  padding: 30px 0;
}

@media (max-width: 1050px) {
  .data-detail-nft {
    align-items: center;
  }
}

.data-detail-nft div {
  display: flex;
  flex-direction: column;
}

.data-detail-nft span {
  font-size: 20px;
  margin-right: 40px;
}

@media (max-width: 1050px) {
  .data-detail-nft span {
    margin: 0;
  }
}

.categories {
  background-color: #424242;
  padding: 10px;
  border-radius: 5px;
  max-width: fit-content;
}

.contract-adress {
  background-color: #d3448b;
  width: 200px;
  padding: 7px;
  border-radius: 15px;
  margin-left: -10px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.button-detail {
  width: 160px;
  font-size: 20px;
  margin-left: -10px;
  border-radius: 20px;
  background: #d3448b;
  color: #fff;
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border: none;
}

.button-detail:hover {
  background-color: #d3448b;
  color: #000;
}

.button-detail::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.button-detail:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
