.mainContainerDetail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imageNftContainer{
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
    flex-direction: column;
}