.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  background-color: #1c2331;
}
.dashboard-container h3{
    padding: 5px 0 10px 10px;
    color: rgba(211, 68, 139, 1);
    border-bottom: 4px solid rgba(211, 68, 139, 1);
    margin-bottom: 20px;
}
.dashboard-barchart{
    display: flex;
    padding: 0 5px;
    border-radius: 20px;
    background-color: #232c3d;
    box-shadow: 0 0 10px #151b25;
    margin: 20px 0;
}
.dahsboard-nfts,
.dashboard-users{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #232c3d;
    border-radius: 10px;
    box-shadow: 0 0 10px #151b25;
    padding: 0 10px 5px 10px;
}