.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    background-color: #1c2331;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0;
    color: whitesmoke;
}
.profile-container{
    width: 100%;
    max-width: 400px;
    height: 600px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    border:2px solid  #d3448b;
}
.avatar-nickname-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    /* border-bottom:2px solid  #d3448b; */
    position: relative;
    
}
.avatar-nickname-container p {
  
  font-weight: 700;
}
.profile-container .profile-pic{
    
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    
}
.profile-container .edit-info{
    position: absolute;
    right: 10px;
    max-width: 40px;
    max-height:40px;
    border-radius: 50%;
    padding: 2px;
    border:2px solid  #d3448b;
    background-repeat: no-repeat;
    background-position: cover;
}

.functionalities-history-container{
    width: 700px;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    
}

.available-functionalities{
    width: 95%;
    height: 35%;
    border-radius: 15px;
    border:2px solid  #d3448b;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.upgrade-button{
    width: 200px;
    height: 60px;
    background-color: #D4AF37;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color:white;
    font-weight: 700;


}
.upgrade-button:hover{
    
    color: #D4AF37;
    background-color: black;
    border:2px solid #D4AF37;
    cursor: pointer;
    
    
}
.history{
    
    width: 95%;
    height: 55%;
    
    border-radius: 15px;
    border:2px solid  #d3448b;
}

.back-button {
    text-decoration: none;
    align-items: center;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    background-color: #d3448b;
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    left: 0;
    top: 50px;
    position: absolute;
  }
  .back-button:hover {
    background-color: #892859;
    color: #fff;
  }


  /*edit */
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .edit-form div{
    margin-bottom: 5px;
    width: 100%;
  }


  .edit-input{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #892859;
  }
  .edit-input input {
    background-color: #1c2331;
    color: white;
    border-style: none;
    
  }
  .submit{
    background-color: #1c2331;
    color: white;
    border-color:#892859;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .submit:hover{
    
   background-color:#d3448b;
   border-color: white;
  }
  .greenMsg{
    color:green
  }
  .redMsg{
    color:red
  }
  .edit-label{
    display: flex;
    flex-direction: row;
  }
  .disabled-submit{
    background-color: grey;
    color: white;
    border-color:black;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  