.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.createNft{
    background-color: #151b25;
    color: white;
    padding: 5px;
    border:4px solid white;
    border-radius: 30px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}