.hidden {
  display: none;
}

.selected {
  background-color: red;
  color: white;
}

.testborder {
  border: 1px solid red;
}

.label {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.brand-colorized-background-color {
  background-color: rgb(3, 6, 21);
}

.brand-colorized-border-color {
  color: rgb(211, 68, 139);
}
