@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.testborder {
  border: 1px solid red;
}

.label {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Norse';
  src: url('./fonts/Norse.otf') format("opentype");
}


@font-face {
  font-family: 'Norse';
  font-weight: bold;
  src: url('./fonts/Norsebold.otf') format("opentype");
}