@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"),
    url(https://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format("woff");
}

.about-us {
  background-color: #fafafa;
  font-family: Iceland;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 58px;
}

.about-us-container {
  width: 70em;
}

.about-us-card-accordion {
  display: flex;
}

.about-us-img {
  border-radius: 20px;
  height: 25em;
  margin-right: 20px;
}
.about-accordion-description {
  font-size: 20px;
}

@media (max-width: 1050px) {
  .about-us-container {
    width: 100%;
  }
  .about-us-card-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-img {
    height: 23em;
    margin-left: 17px;
  }
}

@media (max-width: 750px) {
  .about-us-img {
    height: 20em;
  }
}
