.pageSelector-Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 650px;
    align-items: center;
}

.amount-nfts{
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 12px;
}

.ordering-buttons-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    margin: 20px;
}

.ordering-buttons-nav *{
    height: 36px;
    margin-left: 20px;
}