.dark{ background-color: black}



.pageSelector-Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 650px;
    align-items: center;
}

.amount-nfts{
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 12px;
}

.ordering-buttons-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 40px;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.ordering-buttons-nav select{
    color: white;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border: 2px solid rgb(3, 6, 21);
    border-radius: 4px;
    margin-right: 24px;
    padding: 2px;
}

.ordering-buttons-nav option .light{
    background-color: rgb(3, 6, 21);
}

.ordering-buttons-nav option .dark{
    background-color: rgb(3, 6, 21);
}


.cards-styles{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    margin-left: 20px;
}

.buttons-cards-styles{
    background-color: transparent;
    border: none;
    color: white;
    margin: 4px 12px;
    padding: 0px;
}

.switch-dark-ligth{
    margin-left: 20px;
}

