.mainContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #1c2331;
  color: white;
  font-size: 18px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.create-collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer select {
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
}

.upload-icon {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.ilustration-validations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.ilustrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ilustration-validations .submit {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #cb4183;
  color: white;
  font-weight: 600;
}

.ilustration-validations .submit:hover {
  color: #cb4183;
  box-shadow: 0px 0px 14px 4px #cb4183;
  cursor: pointer;
  border: 2px solid white;
}

.errorSubmit {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  color: rgb(158, 158, 158) !important;
  border: 2px solid rgb(158, 158, 158) !important;
  background-color: transparent !important;
}

/* CREATE COLLECTION */

.first-field-collections {
  margin: 60px auto;
  padding: 24px;
  background-color: #313c52;
  border-radius: 20px;
}

@media (max-width: 1050px) {
  .first-field-collections {
    margin: 60px 15px;
  }
}

.first-field-collections .divs-separet {
  margin: 20px;
  max-width: 800px;
  text-align: center;
}

.choose-collections-created {
  background-color: #252d3b;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

.create-collection {
  /* background-color: #1c2331; */
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 15px;
}

.input-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-collection-input {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.867);
}

.div-created-collections {
  display: flex;
  flex-wrap: wrap;
}

.created-collections {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
}

.created-collections input {
  width: 22px;
}

.div-create-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.cloudinary-collections-create h5,
.cloudinary-collections-create p {
  display: none;
}

.cloudinary-collections-create {
  display: flex;
  flex-direction: column;
}

/* CREATE NFT */

.createNft {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: auto;
}

@media (max-width: 1050px) {
  .createNft {
    width: 350px;
  }
}

.createNft input {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid rgb(211, 68, 139, 1);
  outline: none;
  cursor: pointer;
  padding-left: 5px;
}

.create-nft-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1050px) {
  .create-nft-container {
    padding: 0 20px;
    flex-direction: column;
  }
}

.second-field-nft {
  margin: 60px auto;
  padding: 24px;
  background-color: #313c52;
  border-radius: 20px;
}

@media (max-width: 1050px) {
  .second-field-nft {
    padding: 0;
    margin: 60px 30px 0;
    flex-direction: column;
  }
}

.rigth-side {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1050px) {
  .buttons-next-prev-container {
    padding: 0;
  }
}

.inputAndErrorsMsg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.greenMsg {
  background-color: rgb(12, 189, 12);
  color: #fff;
  padding: 2px 10px;
  border-radius: 10px;
}

.redMsg {
  background-color: red;
  color: #fff;
  padding: 2px 10px;
  border-radius: 10px;
}

.upload-file {
  width: 300px;
  height: 45px;
  color: white;
  cursor: pointer;
  background-color: #cb4183;
  border-radius: 10px;
}

.button-create,
.upload-file {
  cursor: pointer;
  height: 45px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background: #d3448b;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  border: none;
}

.button-create:hover,
.upload-file:hover {
  background: #d3448b;
  color: #000;
}

.button-create::after,
.upload-file::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.button-create:hover::after,
.upload-file:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.disabled {
  height: 45px;
  border-radius: 10px;
  width: 300px;
  background-color: #313c52;
  color: white;
  border-bottom: solid 1px #1c2331;
}

.buttons-next-prev-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 1050px) {
  .buttons-next-prev-container {
    height: 45px;
    width: 100%;
    gap: 20px;
  }
}

.button-next,
.create-back-button {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background: #d3448b;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.button-next:hover,
.create-back-button:hover {
  background: #d3448b;
  color: #000;
}

.button-next::after,
.create-back-button::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.button-next:hover::after,
.create-back-button:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
