@import url("https://fonts.googleapis.com/css?family=Numans");

.login-errormessage {
  display: flex;
  width: 300px;
  background-color: #202633;
  color: white;
}
.noneDisplay {
  display: none;
}

.register {
  background-color: #1c2331;
  height: 100%;
  font-family: "Numans", sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 30px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-title {
  margin: 0 0 15px;
  color: #d3448b;
}

.register-form-input {
  margin-bottom: 10px;
  width: 70vh;
}

@media (max-width: 769px) {
  .register-form-input {
    width: 50vh;
  }
}

.register-button {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  background: #d3448b;
  color: #fff;
  padding: 16px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 769px) {
  .register-button {
    width: 50vh;
  }
}

.register-button:hover {
  background: #d3448b;
  color: #000;
}

.register-button::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.register-button:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
