#star-rating-star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star-rating {
    margin: auto;
}
#img-btn {
    height: 30px;
    width: 30px;
}

.img-btn-on {
    -webkit-filter: grayscale(0);
    filter: none;
}

.img-btn-off {
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}