.nfts-dash-container{
    width: fit-content;
    background-color: lightgray;
    border: 1px solid lightgray;
}
.nft-dash-search-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nft-dash-search-container input{
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
.dash-nfts-list{
    background-color: #f5f5f5;
    padding: 5px 0;
}
.dash-nfts-titles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
}
.dash-nfts-titles p{
    margin: 5px 0;
}
.dash-nfts-idTitle,
.dash-nfts-NameTitle,
.dash-nfts-PriceTitle,
.dash-nfts-UserIdTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #d3d3d3;
}
.dash-nfts-UserIdTitle,
.dash-nfts-idTitle{
    width: 310px;
    margin: 0 5px;
}
.dash-nfts-NameTitle{
    width: 270px;
    margin: 0 5px;
}
.dash-nfts-PriceTitle{
    width: 70px;
    margin: 0 5px;
}