.nfts-dash-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    border-radius: 5px;
    align-items: center;
    background-color: #e0e0e0;
    margin: 10px 0;
}
.nfts-dash-card p{
    margin: 0;
}
.dash-card-userId,
.dash-card-id{
    width: 310px;
    margin: 0 5px;
}
.dash-card-name{
    width: 270px;
    margin: 0 5px;
}
.dash-card-price{
    width: 70px;
    margin: 0 5px;
}
.dash-card-price input{
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
}
.dash-card-icons{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 60px;
    justify-content: space-evenly;
}
.dash-card-icon{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.dash-card-icon:hover{
    color: gray;
}