.user-dash-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    background-color: #e0e0e0;
    margin: 10px 0;
}
.user-dash-card p{
    margin: 0;
}
.user-dash-id{
    width: 260px;
    margin: 0 5px;
}
.user-dash-name{
    width: 120px;
    margin: 0 5px;
}
.user-dash-email{
    width: 300px;
    margin: 0 5px;
}
.user-dash-type{
    width: 80px;
    margin: 0 5px;
}