.categories-selector-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-bottom: 20px;
}

.categories-selector-container select {
  margin-bottom: 20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  background-color: #293447;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px #40495a;
}

.categories-selector-container select:hover {
  background-color: #1d283b;
}

.ilustration-validations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.ilustrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
