.inputContainer{
  min-width: 400px;
}

.inputContainer h6{
  text-align: center;
}

.div-user-basic{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.error-false{
  display: none;
}

.error-true{
  margin-top: -12px;
  font-size: 14px;
  font-weight: 600;
  color: #fadc8b;
}

.divs-add-face-pictures{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divs-add-face-pictures button{
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 100px;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.divs-add-face-pictures img{
  width: 400px;
  border-radius: 12px;
}

.separate-in-two{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin-bottom{
  margin-bottom: 12px;
}