@keyframes slideInToLeft {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideInToRight {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.shopping-cart {
  overflow: hidden;
}

.cart-nfts-container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #228dff;
  color: #fff;
  border: solid 1px rgb(194, 194, 194);
  border-radius: 10px;
  animation-name: slideInToLeft;
  animation-duration: 1s;
}

.cart-nft-img {
  height: 7em;
  border-radius: 10px;
}

.button-buy-fast {
  background-color: #d3448b;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.button-buy-fast:hover {
  background: #d3448b;
  color: #000;
}

.button-buy-fast::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.button-buy-fast:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.cart-nft-remove-button {
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
}

.cart-nft-remove-button:hover {
  cursor: pointer;
}
