.dark {
  background-color: black;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 650px;
  align-items: center;
}

.filter-icon {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.amount-nfts {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 12px;
}

.orders-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  padding: 40px 0;
  margin-top: 58px;
  margin-bottom: 5px;
}

.orders-container select {
  color: white;
  background-color: #313c52;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  margin-right: 24px;
  padding: 10px 15px;
}

.ordering-buttons-nav option .light {
  background-color: rgb(3, 6, 21);
  font-size: 20px;
}

.ordering-buttons-nav option .dark {
  background-color: rgb(3, 6, 21);
  background-color: #313c52;
  font-size: 20px;
}

.cards-styles {
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-radius: 2px;
}

.buttons-cards-styles {
  background-color: transparent;
  border: none;
  color: white;
  margin: 4px 12px;
  padding: 0px;
}

.switch-dark-ligth {
  margin-left: 20px;
}
