.main-container-homepage{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #1c2331;
}

.main-container-homepage h1{
  margin-top: 40px;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: sans-serif;
}

.main-container-homepage .verification-msj{
  background-color: pink;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: white;
  height: 26px;
}

.main-carousel-images{
  width: 92%;
  margin: 30px;
}

.conteiner-cards-buttons{
  display: flex;
  width: 100%;
  color: white;
}

.conteiner-cards-buttons button{
  position: relative;
  top: 150px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: whitesmoke;
}

/* .buttons-paginated button{
  background-color: transparent;
  border: none;
  color: whitesmoke;
}

.buttons-paginated button:hover{
  color: rgb(0, 255, 213);
} */

.container-nfts{
  width: 100%;
  margin: 20px;
}

/* CAROUSEL CARDS */
.main-conteiner-cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 40px;
}

.main-conteiner-cards h1{
  padding: 10px 4%;
}

.conteiner-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

/* COLLECTION CARDS */
.conteiner-collections{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

/* OTROS */
.display-flexrow{
  display: flex;
  flex-direction: row;
}
.separeted{
  justify-content: space-around;
}

/* COLLECTIONS TABLES */
.conteiner-collections-tables{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid white;
}

.conteiner-collections-tables-div{
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid red;
}

.table-collection-main{
  display: flex;
  flex-direction: row;
}

.table-collection-main img{
  width: 70px;
  height: 70px;
}