.search-input-text {
    border-bottom: 1px;
    border-color: rgb(211, 68, 139);
}

.search-button{
    background-color: transparent;
    color: rgb(211, 68, 139);
    border: 1px solid rgb(211, 68, 139);
    border-radius: 4px;
}

