.options-container select{
    max-width: 250px;
    border-radius: 10px ;
    border: 2px solid rgb(211, 68, 139, 1);
    outline: none;
    cursor: pointer;
    appearance: none;
    padding-left: 5px;
}
.option-btn{
    width: 90px;
    height: 30px;
    margin: 5px 10px;
    border: 2px solid rgb(211, 68, 139, 1);
    background-color: white;
    border-radius: 5px;
    color: rgb(3, 6, 21) ;
    font-weight: 600;
}

.input-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.input-checkbox input{
    width: 20px;
    padding: 0px;
    margin: 4px 0px;
}