/* .button-list button{
    margin: 5px 10px;
    border: 2px solid rgb(211, 68, 139, 1);
    background-color: white;
    border-radius: 5px;
    color: rgb(3, 6, 21) ;
    font-weight: 600;
} */
.btn-order-down{
    margin: 5px 10px;
    border: 2px solid rgb(211, 68, 139, 1);
    background-color: white;
    border-radius: 5px;
    color: rgb(3, 6, 21) ;
    font-weight: 600;
}

.btn-order-up{
    margin: 5px 10px;
    border: 2px solid rgb(211, 68, 139, 1);
    background-color: rgb(3, 6, 21) ;
    border-radius: 5px;
    color: white ;
    font-weight: 600;

    
}
