.main-op {
  overflow-x: scroll;
  height: fit-content;
  overflow-y: hidden;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
}

.img-container {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  color: #fff;
  border: solid 0px rgb(194, 194, 194);
  border-radius: 10px;
  width: 160px;
  height: 160px;
  margin-top: 5px;
  margin-left: 25px;
}

.img-container:hover {
  transform: scale(1.05);
}

.fav-nft-img {
  height: 9em;
  border-radius: 10px;
}

.favs-remove-button {
  position: relative;
  margin-left: 130px;
  top: -170px;
  font-size: 28px;
  background-color: transparent;
  border: none;
  color: white;
}

.favs-no-nfts{
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  text-shadow: 2px 2px 4px white;
}
