@keyframes opacityIn {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInToRight {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 200%;
    width: 300%;
  }
}

@keyframes slideInToLeft {
  from {
    margin-left: 200%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sin {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d3448b,
      0 0 70px #d3448b, 0 0 80px #d3448b, 0 0 100px #d3448b, 0 0 150px #d3448b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d3448b,
      0 0 35px #d3448b, 0 0 40px #d3448b, 0 0 50px #d3448b, 0 0 75px #d3448b;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d3448b,
      0 0 70px #d3448b, 0 0 80px #d3448b, 0 0 100px #d3448b, 0 0 150px #d3448b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d3448b,
      0 0 35px #d3448b, 0 0 40px #d3448b, 0 0 50px #d3448b, 0 0 75px #d3448b;
  }
}

@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"),
    url(https://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format("woff");
}

.landing {
  background-color: #1c2331;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.landing title {
  margin: 0;
}

.landing-container {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85em;
}

.disabled-container {
  display: none;
}

.login-container {
  animation-name: opacityIn;
  animation-duration: 1s;
  color: #e966a8;
  width: 70vh;
}

.to-account-section {
  cursor: pointer;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: opacityIn;
  animation-duration: 1s;
}

.recovery-container {
  animation-name: opacityIn;
  animation-duration: 1s;
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 5em;
  margin: 20px 0 20px 0;
}

.landing-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-home {
  width: 10rem;
  text-align: center;
  font-size: 20px;
  margin-left: -10px;
  border-radius: 15px;
  background: #d3448b;
  color: #fff;
  padding: 16px 20px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.link-home:hover {
  background: #d3448b;
  color: #000;
}

.link-home::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.link-home:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.back-to-login-button {
  width: 70vh;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  background: #313c52;
  border: none;
  color: #fff;
  padding: 13px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.back-to-login-button:hover {
  background: #313c52;
  color: #000;
}

.back-to-login-button::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.back-to-login-button:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.link-home-back {
  text-align: center;
  font-size: 20px;
  margin-left: -10px;
  border-radius: 15px;
  background: #d3448b;
  color: #fff;
  padding: 10px;
  margin-left: 6px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.link-home-back:hover {
  background: #d3448b;
  color: #000;
}

.link-home-back::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.link-home-back:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
@media (max-width: 769px) {
  .link-home,
  .back-to-login-button,
  .link-home-back {
    width: 50vh;
  }
}

.landing-img {
  max-height: 27.5em;
  border-radius: 10px;
  animation-name: opacityIn;
  animation-duration: 7s;
}

.landing-title {
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.landing-text-container .landing-title {
  color: #d3448b;
  font-family: Iceland;
}

.landing-text-container .landing-title {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.landing-text-container .landing-title:hover {
  color: #fff;
}

.landing-subtitle {
  font-size: 0.7em;
  color: #e966a8;
  font-family: Iceland;
}

.landing-text {
  font-size: 0.7em;
  color: #e966a8;
  font-family: Iceland;
}

.title-presentation-words {
  color: #228dff;
  font-family: Iceland;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.title-presentation-words .title-presentation-span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  color: #6cb1ffc5;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  animation: openclose 8s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: Iceland;
}

@media (max-width: 1000px) {
  .landing-img {
    display: none;
  }

  .landing-title {
    font-size: 0.7em;
    padding: 0px 10px;
  }

  .landing-subtitle {
    font-size: 0.5em;
    padding: 0px 10px;
  }

  .slide-account-container {
    margin-top: -50vh;
  }
}
