.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-height: 300px;
  box-shadow: 0 0 5px black;
  border-radius: 20px;
  margin: 10px;
  color: white;
  box-sizing: border-box;
  position: relative;
}

.nftCard-image-info {
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.nftCard-img-container {
  width: 100%;
}

.nftCard-img-container img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  box-sizing: border-box;
  border-radius: 15px;
  object-fit:cover;

  background-repeat: no-repeat;
  
}

.eth-rarity{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.bottom-img-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0px;
  color: white;
}

.nftCard-nameToken {
  display: flex;
  flex-direction: row;
}

.bottom-img-info h3 {
  font-size: 14px;
  margin: 2px 0 5px 10px;
}

.bottom-img-info h4 {
  font-size: 12px;
  color: rgb(182, 182, 182);
  margin: 2px 0 5px 20px;
}

.nameAndToken h4 {
  display: flex;
}

.nftCard-image-info:hover {
  transform: scale(1.05);
}

.nftCard-image-info:hover > .CardButtons {
  visibility: visible;
  right: 0px;
}

.CardButtons {
  display: flex;
  flex-direction: column;
  width: 35px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: -20px;
  visibility: hidden;
  transition: all 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.7);
}

.nftCard-icon-container {
  margin: 2.5px 0;
  color: white;
  cursor: pointer;
}

/* .nftImage{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
} */

.eth-logo{
  width: 24px;
  height: 24px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: left;
}