@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

/* .nav-bar{
    position: relative;
} */

.navbar-company-name-header {
    margin-left: 10%;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 100%;
}
.nav-bar-accountIcon{
    color: rgb(211, 68, 139);
}

.search-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

.search-input:focus{
    outline: none;
}
.search-input::placeholder{
    color: rgb(211, 68, 139, 0.5);
}


#cart_Numer_Items {
  position: relative;
  top: -30px;
  left: 55%;
  background: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}