@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

.navbar-company-name-header {
    margin-left: 10%;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 100%;
}
.nav-bar-accountIcon{
    color: rgb(211, 68, 139);
}

.search-input {
    border: none;
    border-bottom: 1px solid;
}

.search-input:focus{
    outline: none;
}
.search-input::placeholder{
    color: rgb(211, 68, 139, 0.5);
}

.brand-colorized-background-color *{
    text-align: center;
    margin: auto 4px;
}


#cart_Numer_Items {
  position: relative;
  top: -30px;
  left: 55%;
  background: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}

.testeandooooooooooooooooooo2{
    background-color: transparent;
    color: rgb(211, 68, 139);
    border: 1px solid rgb(3, 6, 21);
    margin: 0px;
    padding: 0px;
    height: 32px;
}

.margin-left{
    margin-left: 40px;
}